.header {
    display: flex;
    flex-direction: column;
    background: #F7F9FD;
    border: 1px solid #979797;
    justify-content: center;
    padding: 1% 4%;
  }
.logo {
    width: 64px;
    padding-bottom: 1%;
  }
  
  .project-title {
    font-size: 18px;
    font-weight: 700;
  }
  
  .add-button-container {
    display: flex;
    justify-content: flex-end;
    background: #F7F9FD;
    padding: 1% 4%;
  }
  
  .add-button {
    background-color: #3D3A4F;
    width: 48px!important;
    height: 48px;
    margin-right: 32px;
    bottom: 37px;
  }

.content-container {
    background: #F7F9FD;
    padding: 1% 5%;
  }
  
  .add-card {
    border: 1px solid #000000;
  }
  
  .project-row {
    display: flex;
    align-items: center;
  }
  
  .project-icon {
    width: 48px;
    height: 48px;
  }
  .project-name {
    width: 40%;
  }
  .edit-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .delete-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .delete-confirmation {
    display: flex;
  }
  .question-icon {
    width: 18px;
    height: 18px;
    margin-top: 18px;
    margin-right: 8px;
  }
  .confirm-delete-text {
    font-weight: 600;
  }
  .delete-warning-text {
    margin-top: 0px;
    margin-left: 26px;
  }